@font-face {
  font-family: Outfit;
  src: url(https://fonts.google.com/specimen/Outfit);
}

body{
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-color: skyblue;
}

.card-container{
  max-width: 300px;
  padding: 16px;
  background-color: white;
  border-radius: 15px;
}

.qr-image img{
  width: 100%;
  border-radius: 15px;
}

.text-description{
  font-family: Outfit;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}